.app__title {
  text-align: center;
}

.app__img {
  margin-top: 2em;
}

.form_container {
  display: flex;
  justify-content: center;
}

.app__form {
  position: fixed;
  bottom: 0;
  margin: 2em;
  z-index: 1;
  width: 80%;
  background-color: #f0f0f0cf !important;
  border-radius: 60px;
}

.app__form:hover {
  background-color: #f0f0f0 !important;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.formControl__input {
  flex-grow: 1;
  margin-bottom: 1em;
  margin-left: 1em;
}

.msg {
  width: fit-content;
  max-width: 16em;
  margin: 0 2em 2em;
}

.msg_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.username {
  font-size: 0.7em;
  color: #9d9d9d;
}

.msg_user {
  margin-left: auto;
}

.msg_userCard {
  background-color: #2564ff !important;
  color: #f0f5ff !important;
  width: fit-content;
}

.msg_guestCard {
  background-color: #f0f0f0 !important;
  width: fit-content;
}

.username__input {
  margin-right: 0.5em !important;
}

.exit_btn {
  position: absolute;
  top: 1em;
  left: 1em;
}

@media all and (min-width: 420px) {
  .app__form {
    padding: 1em;
  }

  .msg p {
    font-size: 1em;
  }

  .msg {
    max-width: 30em;
  }

  .exit_btn {
    position: absolute;
    top: 2em;
    left: 2em;
  }
}
