.App {
  text-align: center;
}

.form_container {
  display: flex;
  justify-content: center;
}

.app__form {
  position: fixed;
  bottom: 0;
  margin: 2em;
  padding: 2em;
  z-index: 1;
  width: 80%;
  background-color: #c2c2c4a8 !important;
  border-radius: 60px;
}

.app__form:hover {
  background-color: #c2c2c4 !important;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.formControl__input {
  flex-grow: 1;
}

.msg {
  width: fit-content;
  margin: 2em;
}

.msg_user {
  margin-left: auto;
}

.msg_userCard {
  background-color: #2564ff !important;
  color: #f0f5ff !important;
}

.msg_guestCard {
  background-color: #e9e9eb !important;
}
